body {font-family: Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #3d3935;
    height: 100vh;
    display: grid;
}

a:link {
    color: #fcb44a;
    text-decoration: none;
}

a:hover {
    color: #fcb44a;
    text-decoration: none;
}